<template>
	<div class="block slds-box slds-m-around_small" onclick={propertyClick}>
		<img
			src={property.image}
			class="property slds-align_absolute-center"
			alt="Property picture"/>
		<div>
			<p class="title slds-align_absolute-center">{property.name}</p>
			<div class="slds-align_absolute-center slds-m-around_xx-small">
				<p>Price 
					<lightning-formatted-number value={property.price} format-style="currency" currency-code="USD"></lightning-formatted-number>
				</p>
			</div>
		</div>
	</div>
</template>