.block {
    padding: 8px;
    background-color: #e2e4f9;
    border: 1px solid;
    border: outset rgb(45, 7, 110);
    cursor: pointer;
}

img.property {
    height: 100px;
    vertical-align: top;
    /* pointer-events: none; */
}

.title {
    font-weight: bold;
    text-transform: uppercase;
}