<template>
	 <lightning-card icon-name="standard:home" title="Property Creation">
			<template if:true={isPropertyRecordType}>
				<div class="slds-box">
					<template for:each={propertyes} for:item='property'>
						<lightning-input 
							key={property.value} 
							name={property.recordTypeId} 
							label={property.value} 
							type="checkbox"
							value={property.value} 
							checked={property.checked}
							onchange={handleChangeRecordType}>
						</lightning-input>
					</template>
					<lightning-button
							label="Next"
							title="To next step"
							onclick={onChangeTemplate}
							class="slds-m-small"
							disabled={isNextDisable}
					></lightning-button>
				</div>
			</template>
	</lightning-card>
</template>