<template>
    <lightning-card  title="Property Owner Info">
        <template if:true={owner.data}>
            <div class="slds-var-m-around_medium">
                <p>First Name: {firstName}</p>
                <p>Last Name: {lastName}</p>
                <p>Phone: <lightning-formatted-phone value={phone}></lightning-formatted-phone></p>
                <p>Home Phone: <lightning-formatted-phone value={homePhone}></lightning-formatted-phone></p>
                <p>Email: <lightning-formatted-email value={email}></lightning-formatted-email></p>
                <p>Total Property Price: {totalPropertyPrice}</p>
            </div>
        <lightning-button label="Open Owner Contact" slot="actions" onclick={handleClick}></lightning-button>
        </template>
        <template if:true={owner.error}>
            <p>{owner.error}</p>
        </template>
    </lightning-card>
</template>