<template>
	<c-error-handler timeout={timeout} sticky={sticky}></c-error-handler>
	<lightning-card
		title="PropertyDetails"
		icon-name="custom:custom55"
	>
		<div class="slds-m-around_medium">
			<lightning-badge if:true={Name} label={Name}></lightning-badge>
			<lightning-badge if:false={Name} label='Select properties for detailed view'></lightning-badge>
			<div if:true={Picture_URL__c} class="property-details-img">
				<img src={Picture_URL__c} alt="Property photo" />
			</div>
			<p if:true={Address__c}> Address:
				<lightning-badge label={Address__c}></lightning-badge>
			</p>
			<p if:true={Selling_price__c}>Seling price: 
				<lightning-formatted-number value={Selling_price__c} format-style="currency" currency-code="USD"></lightning-formatted-number>
			</p>
			<p if:true={Rent_Cost__c}>Rent cost: 
				<lightning-formatted-number value={Rent_Cost__c} format-style="currency" currency-code="USD"></lightning-formatted-number>
			</p>
		</div>
		<template if:true={isSpinner}>
			<c-spinner> </c-spinner>
		</template>
	</lightning-card>
</template>

