<template>
	<lightning-card title="Persons information"> 
		<div class="persons-top">
			<lightning-combobox
				name="sortBy"
				label="Sort by"
				value={value}
				placeholder="Sort by"
				options={options}
				onchange={handleChangeSort}>
			</lightning-combobox>

			<template for:each={optionsGender} for:item='gender'>
				<lightning-input 
					key={gender.value} 
					name={gender.value} 
					label={gender.label} 
					type="checkbox"
					value={gender.value} 
					checked={gender.checked}
					onchange={handleChangeGender}>
				</lightning-input>
			</template>
			<lightning-input
				type="email"
				label="Email"
				pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
				message-when-pattern-mismatch="Your email address not correct"
				placeholder="enter your email"
				maxlength="50"
				message-when-too-long="Your email address must not be more than 50 characters."
				onchange={handleChangeEmail}>
			</lightning-input>

	</div>

	<div class="persons-top">
		<lightning-input type="date" name="inputFrom" label="From" onchange={handleChangeFrom}></lightning-input>
		<lightning-input type="date" name="inputTo" label="To" onchange={handleChangeTo}></lightning-input>
	</div>

	<div class="persons-reset">
		<lightning-button
			variant="Neutral"
			label="Resert All"
			type="reset"
			onclick={handleReset}>
		</lightning-button>
	</div>
	<div>
		<lightning-datatable
			key-field="id"
			data-id="table"
			data={data}
			columns={columns}
			hide-checkbox-column="true"	>
		</lightning-datatable>
	</div>  
</lightning-card> 
</template>