<template>
	<template if:true={isPropertyRecordType}>
		<template for:each={propertyes} for:item='property'>
			<lightning-input 
				key={property.value} 
				name={property.recordTypeId} 
				label={property.value} 
				type="checkbox"
				value={property.value} 
				checked={property.checked}
				onchange={handleChangeRecordType}>
			</lightning-input>
		</template>
		<lightning-button label="Next" title="To next step" onclick={onChangeTemplate} class="slds-m-left_x-small"></lightning-button>
	</template>
	<template if:false={isPropertyRecordType}>
		<div class="slds-p-bottom_large slds-p-left_large">
			<template for:each={forms} for:item="form">
				<lightning-record-edit-form key={form} record-id={recordId} object-api-name="Property__c">
					<lightning-layout>
						<lightning-layout-item flexibility="auto" padding="around-small">
								<lightning-input-field field-name="Address__c" data-id="address"></lightning-input-field>
						</lightning-layout-item>
						<lightning-layout-item flexibility="auto" padding="around-small">
								<lightning-input-field field-name="City__c" data-id="city"></lightning-input-field>
						</lightning-layout-item>
						<lightning-layout-item flexibility="auto" padding="around-small">
								<lightning-input-field field-name="Country__c" data-id="country"></lightning-input-field>
						</lightning-layout-item>
						<lightning-layout-item flexibility="auto" padding="around-small">
								<lightning-input-field field-name="Rent_Cost__c" data-id="reant-cost"></lightning-input-field>
						</lightning-layout-item>
						<lightning-layout-item flexibility="auto" padding="around-small">
								<lightning-input-field field-name="Selling_price__c" data-id="selling-price"></lightning-input-field>
						</lightning-layout-item>
						<lightning-layout-item class="slds-hide" >
								<lightning-input-field field-name="Property_Owner__c" data-id="property-owner" value={propertyOwner}></lightning-input-field>
						</lightning-layout-item>
						<lightning-layout-item class="slds-hide">
								<lightning-input-field field-name="RecordTypeId" data-id="record-type-id" value={currentRecordTypeId}></lightning-input-field>
						</lightning-layout-item>
						<lightning-layout-item flexibility="auto" padding="around-small">
							<div class="slds-grid">
								<lightning-button-icon icon-name="action:new"  
								alternative-text="Add field" 
								title="Add field"
								disabled={disableAdd}
								onclick={handleAdd}>
								</lightning-button-icon>
								
								<lightning-button-icon icon-name="action:delete"  
								alternative-text="Delete"   
								access-key={form}	
								title="Delete"
								disabled={disableDelete}
								onclick={handleDelete}>
								</lightning-button-icon>
							</div>
								</lightning-layout-item>
					</lightning-layout>
					
				</lightning-record-edit-form>
			</template>
			
			<lightning-button label="Submit" title="Submit" onclick={handleSubmit} class="slds-m-left_x-small"></lightning-button>
			<lightning-button label="Close" title="Close" onclick={onChangeTemplate} class="slds-m-left_x-small"></lightning-button>
	
		</div>
	</template>
</template>
