<template>
	<c-error-handler
    timeout={timeout}
    sticky={sticky}
  ></c-error-handler>
	<div class="wrapper">
		<lightning-card title="Property List" icon-name="standard:agent_home">
			<section class="content">
				<div class="columns" onclick={handlePropertySelect}>
					<template if:true={visibleProperties}>
						<main class="slds-grid slds-wrap main">
							<template for:each={visibleProperties} for:item="property">
								<div class="slds-size_3-of-12" key={property.id}>
									<c-property-item property={property}></c-property-item>
								</div>
							</template>
						</main>
					</template>
				</div>
				<div slot="footer" class="slds-var-m-vertical_medium">
					<c-paginator records={totalProperties} onspin={updateSpinnerHandler} onupdate={updatePropertiesHandler}></c-paginator>
				</div>
			</section>
		</lightning-card>
		<template if:true={isSpinner}>
			<c-spinner> </c-spinner>
		</template>
	</div>
</template>