<template>
    <lightning-card  title="Contact Details">
        <template if:true={recordId}>
            <div class="slds-var-m-around_medium">
                <p>First Name: {First_Name__c}</p>
                <p>Last Name: {Last_Name__c}</p>
                <p>Phone: <lightning-formatted-phone value={Phone}></lightning-formatted-phone></p>
                <p>Email: <lightning-formatted-email value={Email}></lightning-formatted-email></p>
                <p>Total Property Price: 
                    <lightning-formatted-number value={Total_Property_Price__c} format-style="currency" currency-code="USD"></lightning-formatted-number>
                </p>
            </div>
        </template>
    </lightning-card>
    <template if:true={isSpinner}>
        <c-spinner> </c-spinner>
    </template>
</template>