<template>
    <lightning-card title="Logs" icon-name="standard:shift_type">
        <div class="slds-p-around_small">
            <lightning-datatable
                    key-field="id"
                    data-id="table"
                    columns={columns}
                    data={logs}
                    hide-checkbox-column
            ></lightning-datatable>
        </div>
    </lightning-card>
</template>